body {
    font-family: "Roboto", sans-serif;
    font-size: small;
    background-color: black;
    display: flex;
    justify-content: center;
}
div{
    background-color: white;
}
.post{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.post-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.post-icons{
    display: flex;
    justify-content: space-between;
}
img{
    width: 400px;
}
.post-body{
    padding: 10px;
}
