body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.post {
    background-color: white;
    width: 450px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.post-body {
    padding: 5px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
}

i {
    font-size: 25px;
}

.ph-left {
    display: flex;
    align-items: center;
}

.icon-topleft {
    padding-right: 5px;
}